body{
	margin:0;
}

.horizontal-list{
	margin-top: 0px;
	list-style:none;
	padding-left: 0px;
}

.horizontal-list li{
	display: inline-block;
	margin:0px 15px 0px 15px;
}

.horizontal-list li a{
	color:white;
	font-size: 1.8rem;
	text-decoration: none;
	font-family: sans-serif;	
}


.nav-bar li a{
transition:color 2s,border-bottom 2s;
}

.nav-bar li a:hover{
	color:grey;
	border-bottom: 1px solid grey;
}

.text-center{
	text-align: center;
}

#body-header{
	background-image: url("image/bg.jpg");
	height:65vh;
	opacity: 0.7;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#name-social{
	margin-top: 40px;
}

#my-name{
	font-family: cursive;
	font-weight:700;
	font-size: 4rem;
	color:white;
	letter-spacing: 0.1rem;
	margin-bottom: 0.5rem;
}

.social-icons li a i{
	color: #3504e5;
	font-size: 1.7rem;
	padding:1px 5px;
	border-radius: 50%;
}
.social-icons li a i:hover{
	box-shadow: 0px 0px 25px 20px rgba(230,196,196,0.3);
}

/*#about img{
background-size: cover;
width:250px;
height: 250px;	
margin-top: -30vh;
z-index: 5;
}*/

#about{
	width: 100%;
	height: auto;
	position: relative;
}
#my-img{
	height:15rem;
	width: 15rem;
	margin:auto;
	margin-top: -7.5rem;
}
#my-img img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 2px solid white;
	box-shadow: 0 0 18px 3px grey;
}
#about p{
	width: 75%;
	margin:auto;
	margin-top: 2rem;
	font-size: 1.6rem;
}
section{
	width: 100%;
	height:50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 10vh;
}
section:nth-child(2n){
	background-color: white;
}
section:nth-child(2n+1){
	background-color: #e8e0f7bf;
}
.section-heading{
	width: auto;
	margin: 20px auto;
	padding: 10px 10px;
}
.section-heading span{
	font-size: 40px;
	color:blue;
	display: inline-block;
}

#skills{
	height: auto;
}
.skill-display{
	width: 75%;
	height:25vh;
	/*border: 2px solid red;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.skill-progress{
	height: 5vh;
	width:15vw;
	border:2px solid black;
	border-radius: 3rem;
}
.skill-name{
	background-color: red;
	height: inherit;
	border-radius:3rem 0 0 3rem;
}
.skill-name span{
	color:white;
	font-size: 1.4rem;
	margin-left: 1rem;
}

/*Skill Percentage and color*/
.per80{
	width: 80%;
}
.per60{
	width:60%;
}
.per40{
	width: 40%;
}
.col-orange{
	background-color: orange;
}
.col-blue{
	background-color: blue;
}
.col-green{
	background-color: green;
}
/**/

/*Common Margins*/
.mb30{
	margin-bottom: 30px;
}
.pl10{
	padding-left: .7vw;
}
.mt20{
margin-top: 5vh;
}
/**/
/*Common colors*/
#white{
	color: white;
}
#black{
	color:black;
}
#red{
	color:red;
}
#blue{
	color:blue;
}
/**/

#portfolio{
	height:auto;
}
.port-display{
	height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
}

.port-img{
	width:30%;
	height: auto;
}
.port-img span img{
	width: 100%;
	height: auto;

}
#contact{
	background:linear-gradient(#2857a4 , #403066);
	height:auto;
}
#contact .section-heading{
	margin-bottom: 0;
}
.contact-display{
	height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	position: relative;
}
form{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;

}
.contact-form{
	width:30%;
	/*max-width: 80%;*/
	min-width:400px;
	height: auto;
	padding-bottom: 2rem;
	padding-right: 2rem;

}

.contact-form input , textarea{
	margin-bottom: 1rem;
    width: 100%;
    /*max-width: 70%;*/
    height: 1.6rem;
    border: 2px solid grey;
    padding: .5rem;
    font-size: 1.3rem;
    box-shadow: 0 0 60px 0.3px grey;
    font-family: monospace;
}
#submit-btn{
width:4rem;
height: 1.3rem;
padding:auto auto;
text-align: center;
box-sizing: content-box;
display: block;
margin:0 auto;
border:3px solid #080808;
border-radius: 30%;
font-weight: 600;
color: #211010;
box-shadow: 0 0 12px 2px black;
}

.adress-area{
	padding-left: 2rem;
	position: relative;
	/*top:-20%;*/
	width:30%;
	min-width:400px;
	/*max-width: 80%;*/
	height: auto;
	overflow-wrap: break-word;
}
.adress-area h2{
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 1.8rem;
	color: #97988b;
	font-family: cursive;
	text-align: center;
}
.adress-area div{
	font-size: 1.2rem;
    font-style: oblique;
    font-family: monospace;
    overflow-wrap: break-word;
}
#experience{
	height:auto;
	padding-bottom: 4vh;
}
.exp-display{
position:relative;
width:85%;
}
.exp-data{
	width:35%;
	height:15vh;
	position:relative;
	left:5%;
	border:2px solid black;
	margin-bottom:20px;
}
.exp-data:nth-child(2n){
	left:60%;
}

.plane-divider{
	position: absolute;
	top:4%;
	left: 50%;
	width: 0;
	height:92%;
	border:1px dashed #886d6d;
}

.traveller{
	position:sticky;
	top:125px;
}
#big-icon{
	font-size: 2rem;
	color:cyan;
	transform: rotate(90deg);
	position: absolute;
    top: -35px;
    left: -17px;
}